//  NAVIGATION
// ===========
nav
  background-color transparent
  padding 1em
  width 150px  
  ul
    li
      display block
      a
        padding 0.25em


.masthead
  height 100vh
  padding-top 30vh
