//  NAVIGATION
// ===========
nav
  font-family 'Oswald', sans-serif
  font-size(18)
  padding 1em
  text-align center
  z-index 2
  ul
    li
      display inline-block
      a
        padding 0.25em
        &.home
          color red
          &:hover
            color darken(red, 20%)
        &.about
          color orange
          &:hover
            color darken(orange, 20%)
        &.tips
          color dark-purple
          &:hover
            color darken(dark-purple, 20%)
        &.meal-plans
          color light-green
          &:hover
            color darken(green, 20%)


.nav-logo
  &.hide
    opacity(0)
  transition()
  &.show
    opacity(1)
  

.tagline
  color med-gray
  font-size(24)
  
.site-search-form
  input
    color red
    height auto
    padding 1em
    width 100%

.goto-next
  background-color orange
  background-image url("../../templates/img/arrow.svg")
  background-position center center
  background-repeat no-repeat
  border-radius 100%
  border 0
  bottom 3em
  height 4em
  left 50%
  line-height 4em
  margin-left -2em
  overflow hidden
  position absolute
  text-indent 4em
  white-space nowrap
  width 4em
  &:hover
    background-color rgba(144, 144, 144, 0.15)


p
  font-size(18)

.page-body
  h3
    color dark-gray
  p
    color dark-gray

img
  &.align_left
    float left
    margin-right 1em
    margin-bottom 1em

//  RECIPES-LIST
// ===========
.dark-purple
  background-color dark-purple
.light-purple
  background-color light-purple
.blue
  background-color blue
.dark-green
  background-color dark-green
.light-green
  background-color light-green
.yellow
  background-color yellow
.orange
  background-color orange
.pink
  background-color pink
.red
  background-color red


.recipes-list, .recommended
  .recipe
    padding 2em
    border-radius 6px
    
    a
      color white
      &:hover
        color rgba(white, 0.4)
  h3
    color dark-gray
.view
  font-size(12)


.recipe-page
  h2, p, ul
    color dark-gray
  h3
    color orange
  h4
    color dark-purple
  img
    // padding 1em
    border-radius 6px

.MarkupPagerNav
  list-style none
  text-align center
  li
    display inline
    &.MarkupPagerNavOn
      a
        color med-gray
    a
      padding 0.5em
      &:hover
        text-decoration underline

.next-prev-posts
  a
    color white
      &:hover
        color rgba(white, 0.4)