//  NAVIGATION
// ===========
nav
  font-family 'Oswald', sans-serif
  font-size(18)
  padding 1em
  text-align center
  z-index 2
  ul
    li
      display inline-block
      a
        padding 0.25em
        &.about
          color orange
          &:hover
            color darken(orange, 20%)
        &.tips
          color dark-purple
          &:hover
            color darken(dark-purple, 20%)
        &.meal-plans
          color light-green
          &:hover
            color darken(light-green, 20%)

.nav-logo
  &.hide
    opacity(0)
  transition()
  &.show
    opacity(1)
  

.tagline
  color med-gray
  font-size(24)
  
.site-search-form
  input
    color color-base
    height auto
    padding 1em
    width 100%

p
  font-size(18)

.page-body
  h3
    color dark-gray
  p
    color dark-gray

img
  &.align_left
    float left
    margin-right 1em
    margin-bottom 1em

//  RECIPES-LIST
// ===========
.orange
  background-color orange
.light-purple
  background-color light-purple
.dark-purple
  background-color dark-purple
.light-green
  background-color light-green
.dark-green
  background-color dark-green
.pink
  background-color pink

.recipes-list, .recommended
  .recipe
    height 340px
    padding 2em
    
    a
      color white
      &:hover
        color rgba(white, 0.4)
  h3
    color dark-gray
.view
  font-size(12)


.recipe-page
  h2, p, ul
    color dark-gray
  h3
    color orange
  h4
    color dark-purple
  img
    padding 1em

.MarkupPagerNav
  list-style none
  text-align center
  li
    display inline
    &.MarkupPagerNavOn
      a
        color med-gray
    a
      padding 0.5em
      &:hover
        text-decoration underline