//  NAVIGATION
// ===========
nav
  font-family 'Oswald', sans-serif
  font-size(18)
  padding 1em
  text-align center
  z-index 2
  ul
    li
      display inline-block
      a
        padding 0.25em
        &.about
          color orange
          &:hover
            color darken(orange, 20%)
        &.tips
          color dark-purple
          &:hover
            color darken(dark-purple, 20%)
        &.meal-plans
          color light-green
          &:hover
            color darken(light-green, 20%)



.tagline
  color med-gray
  
.site-search-form
  input
    width 100%
    height auto
    padding 1em

.page-body
  h3
    color dark-gray
  p
    color dark-gray

//  RECIPES-LIST
// ===========
.orange
  background-color orange
.light-purple
  background-color light-purple
.dark-purple
  background-color dark-purple
.light-green
  background-color light-green
.dark-green
  background-color dark-green
.pink
  background-color pink

.recipes-list
  .recipe
    height 340px
    padding 2em
    
    a
      color white
      &:hover
        color rgba(white, 0.4)
  h3
    color dark-gray

.recipe-page
  h2, p, ul
    color dark-gray
  h3
    color orange
  img
    padding 1em
    
  
// .main-content
//   .container
//     background-color color-base